# language: yaml
#
# Github workflow to automate my release process
#
# User must manually trigger the workflow via "Actions" and
# supply a version number
#
---

name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (e.g. 1.2.3)'
        required: true
      ## Don't try to deal with change log at this point
      #changes:
      #  description: 'Optional changelog entries (markdown or bullet list)'
      #  required: false

permissions:
  contents: write
  pull-requests: write
  issues: write
  checks: read

concurrency:
  group: create-release-${{ github.event.inputs.version }}
  cancel-in-progress: false

jobs:
  make-pull-request:
    runs-on: ubuntu-latest
    outputs:
      pr-number: ${{ steps.cpr.outputs.pull-request-number }}
    env:
      VERSION: ${{ github.event.inputs.version }}
      ##CHANGES: ${{ github.event.inputs.changes }}
    steps:

      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Update package version
        run: |
          echo "Updating version to $VERSION"
          echo "Current directory: $(pwd)"
          echo "Contents: $(ls -l)"
          sed -i "s/^__version__ = .*/__version__ = \"$VERSION\"/" pbtbx/__init__.py

      # NB Ensure that Settings -> Actions -> General on Github
      # allows Github Actions to create and approve pull requests
      # otherwise this step will fail
      - name: Create pull request for release
        id: cpr
        uses: peter-evans/create-pull-request@v8.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit-message: "chore: bump version to ${{ env.VERSION }}"
          base: devel
          branch: version-${{ env.VERSION }}
          title: "pbtbx version ${{ env.VERSION }}"
          body: "Automated release PR for new version ${{ env.VERSION }}"

      - name: Add "release" label to PR
        if: steps.cpr.outputs.pull-request-number
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.cpr.outputs.pull-request-number }}
          labels: release

      # NB By default one workflow won't trigger another
      # (so the Python CI workflow won't be initiated by the
      # pull request created above)

  merge-and-tag:
    runs-on: ubuntu-latest
    needs: make-pull-request
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Merge and delete Pull Request
        run: |
          gh pr merge --merge --auto "${{ needs.make-pull-request.outputs.pr-number }}" --delete-branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Merge changes into main branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
	  git checkout -b master origin/master
	  git merge devel

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: "master"

      #- name: Make release
      #  run: |
      #    gh release create
