# language: yaml
#
# Github workflow to automate my release process
#
# User must manually trigger the workflow via "Actions" and
# supply a version number
#
---

name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (e.g. 1.2.3)'
        required: true
      ## Don't try to deal with change log at this point
      #changes:
      #  description: 'Optional changelog entries (markdown or bullet list)'
      #  required: false

permissions:
  contents: write
  pull-requests: write
  issues: write
  checks: read

concurrency:
  group: create-release-${{ github.event.inputs.version }}
  cancel-in-progress: false

jobs:
  make-pull-request:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.inputs.version }}
      ##CHANGES: ${{ github.event.inputs.changes }}
    steps:
      ## The PR creation makes a branch
      ## so maybe this step is not required?
      #- name: Create version branch
      #  uses: peterjgrainger/action-create-branch@v3.0.0
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  with:
      #    branch: version-${{ env.VERSION }}
      #    sha: '${{ github.event.pull_request.head.sha }}'

      - name: Checkout repo
        uses: actions/checkout@v6
      #  with:
      #    ref: version-${{ env.VERSION }}

      - name: Update package version
        run: |
          echo "Updating version to $VERSION"
          echo "Current directory: $(pwd)"
          echo "Contents: $(ls -l)"
          sed -i "s/^__version__ = .*/__version__ = \"$VERSION\"/" pbtbx/__init__.py

      ## PR also commits changes in the checked out version?
      #- name: Commit updated version
      #  uses: stefanzweifel/git-auto-commit-action@v5
      #  with:
      #    commit_message: "chore: bump version to ${VERSION}"
      #    branch: version-${{ env.VERSION }}

      - name: Create pull request for release
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "chore: bump version to {{ env.VERSION }}"
          base: devel
          branch: version-${{ env.VERSION }}
          title: "pbtbx version $VERSION"
          body: "Automated release PR for version ${VERSION}"

      #- name: Add "release" label to PR
      #  if: steps.cpr.outputs.pull-request-number
      #  uses: actions-ecosystem/action-add-labels@v1
      #  with:
      #    github_token: ${{ secrets.GITHUB_TOKEN }}
      #    number: ${{ steps.cpr.outputs.pull-request-number }}
      #    labels: release
